
.navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
  z-index: 1;
  transition: background 0.3s ease;
}

.social {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  color: #fff;
}
.social:hover{
  color: #fff;
}
.navbar-logo {
  display: block;
  margin-right: 50rem;
}
@media screen and (max-width: 767px) {
  .social {
    display: none;
  }
  .navbar-logo {
    margin-left: 20rem;
  }
}